body {
 margin-top: 2em;
 margin-bottom: 2em;

}


h1 {
	font-size: 7em;
	text-align: center;
	padding-bottom: .5em;
	color: #FF5300;
}

h2 {
	font-size: 3em;
	padding-top: 1em;
	color: #FF5300;
}

div, p {
	font-size: 3em;
}



span {
	text-transform: uppercase;
	color: #FF5300;
}

.ui.button {
	background-color:  #FF5300;
	color: #fff;
}

.ui.button.done {
	background-color: #009586;
	color: #fff;
}

.ui.massive.buttons .button, .ui.massive.buttons .or, .ui.massive.button {
	font-size: 5em;
}

img {
	width: 100%;
}

a, a:active {
 color: #FFF;
}

div#button {
bottom: -10em;
}

